@page "/not-found"
@layout MainLayout

<PageTitle>Page Not Found</PageTitle>

<h1 style="color: #000080;">404 - Not Found</h1>

<div class="border border-dark p-3" style="background-color: #ffffcc;">
    This page does not exist.
</div>
